%span.recipe_name_block
  = %(#{i + 1}. #{link_to(recipe.name.titleize, recipe_path(recipe))}:).html_safe
%span.recipe_description_block
  = " #{recipe.description}"
  - if current_user
    = form_tag edit_recipe_path(recipe), :class => 'align_right', method: :get do
      = submit_tag 'Modify', :class => 'blue_button'
- if current_user && current_user.id == recipe.user_id
  = form_for recipe, html: { :class => 'align_right inline_form' } do |f|
    = button_to 'Delete', recipe_path(recipe), { method: :delete, :class => 'red', :confirm => "Are you sure?" }
    %br/