
<h2 class="page_head">Modify <%= @recipe.name.titleize %></h2>

<div class='wrapper'>
  <%= form_for @recipe do | recipe_form | %>

    <%= render "recipe_form", recipe_form: recipe_form %>

      <%= recipe_form.fields_for :recipe_ingredient do | recipe_ingredients_form | %>

        <%= button_tag "Add'l Ingredient", type: 'button', :class => "add_record_button center pull_right", id: 'add_update_form_line' %><br>

        <span id="quantity_label">Quantity:</span>
        <span id="usage_label">Usage:</span>
        <span id="duration_label">Duration (optional):</span>

        <div id='form_partial_wrapper'>

            <%= recipe_form.fields_for :recipe_ingredients, @recipe_ingredients do | recipe_ingredients_form | %>
              <span class='form_count'>
                <%= render "recipe_ingredient_form", recipe_ingredients_form: recipe_ingredients_form %><br>
              </span>
            <% end %>

          <div style="display: none;">
            <span id='clone_template' class='form_count'>
              <%= recipe_form.fields_for :recipe_ingredients, @recipe_ingredient do | recipe_ingredients_form | %>
                <%= render "recipe_ingredient_form", recipe_ingredients_form: recipe_ingredients_form %>
              <% end %><br>
            </span>
          </div>

        </div>
      <% end %><br>
    </div>
</div>
  <%= recipe_form.submit 'Save Recipe', :class => "add_record_button center top_bump" %>
<% end %>
