%h2.page_head Modify #{@recipe.name.titleize}

= form_for @recipe do | recipe_form |
  .recipe_form_wrapper
    = render 'recipe_form', recipe_form: recipe_form
    = recipe_form.fields_for :recipe_ingredient do | recipe_ingredients_form |
      = button_tag "Add'l Ingredient", type: 'button', :class => 'add_record_button center pull_right', id: 'add_update_form_line'
      %br/

      %span#quantity_label Quantity:
      %span#usage_label Usage:
      %span#duration_label Duration (optional):

      #form_partial_wrapper

        - for recipe_ingredient in @recipe_ingredients do
          = recipe_form.fields_for :recipe_ingredients, recipe_ingredient do | recipe_ingredients_form |
            %span.form_count
              = render 'recipe_ingredient_form', recipe_ingredients_form: recipe_ingredients_form
              = button_to 'Delete', recipe_ingredient_path(recipe_ingredient), { method: :delete, :class => 'red right_margin', :confirm => "Are you sure?" }
            %br/

      .hidden
        %span#clone_template.form_count
          = recipe_form.fields_for :recipe_ingredients, @recipe_ingredient do | recipe_ingredients_form |
            = render 'recipe_ingredient_form', recipe_ingredients_form: recipe_ingredients_form
          %br/
    %br/
  = recipe_form.submit 'Save Recipe', :class => 'add_record_button center top_bump'