<h1 class="page_head">Recipe List</h1>

<div class='wrapper left_justify'>
  <ul>
  <% @recipes.each_with_index do | recipe, i | %>
    <li>
      <% if recipe.user_id.nil? %>
        <%= render "print_recipe_line", recipe: recipe, i: i %>
      <% else %>
        <% if current_user.id == recipe.user_id %>
          <%= render "print_recipe_line", recipe: recipe, i: i %>

          <%= form_for recipe, html: { :class => 'inline_form' } do |f| %>
            <%= button_to 'Delete', recipe_path(recipe), method: :delete %>
          <% end %><br>

        <% end %>
      <% end %>
    </li>
  <% end %>
  </ul>
</div>

<% if current_user %>
  <div class="add_record_button"><%= link_to "Add Recipe", new_recipe_path %></div>
<% end %>

<% unless current_user %>
 <span class="center"><%= link_to "Log in", user_session_path %> to add a Recipe</span>
<% end %>