<h1 class="page_head">Build Saison</h1>

<div class='wrapper'>
  <%= form_for @recipe do | recipe_form | %>
    <div class='labels_wrapper'>
      <%= recipe_form.label :name, 'Name:' %><br>
      <%= recipe_form.label :description, 'Description:' %><br>
      <%= recipe_form.label :batch_size, 'Batch size:' %><br>
      <%= recipe_form.label :mash_length, 'Mash:' %><br>
      <%= recipe_form.label :boil_length, 'Boil length:' %>
      <span id='ingredient_label'>Add Ingredient:</span>
    </div>
    <div class='recipe_fields_wrapper'>
      <%= recipe_form.text_field :name, placeholder: "ex: My New Recipe", size: '30x20' %><br>
      <%= recipe_form.text_field :description, placeholder: "ex: Tastes like burning.", size: '90x20' %><br>
      <%= recipe_form.text_field :batch_size, placeholder: "ex: 5 gallons", size: '12x20' %><br>
      <%= recipe_form.text_field :mash_length, placeholder: "ex: 75 mins", size: '12x20' %>
      <%= recipe_form.label :mash_temp, '@' %>
      <%= recipe_form.text_field :mash_temp, placeholder: "ex: 149F", size: '7x20' %><br>
      <%= recipe_form.text_field :boil_length, placeholder: "ex: 90 mins", size: '12x20' %><br>
      <%= recipe_form.fields_for :recipe_ingredients, @recipe_ingredient do | recipe_ingredients_form | %>
      <%= recipe_ingredients_form.label :quantity, 'Quantity:', :id => "quantity_label" -%>
      <%= recipe_ingredients_form.label :usage, 'Usage:', :id => "usage_label" -%>
      <%= recipe_ingredients_form.label :duration, 'Duration (optional):', :id => "duration_label" %>
    <div id='form_partial_wrapper'>

        <%= render 'add_recipe_ingredient_form', recipe_ingredients_form: recipe_ingredients_form %>

      </div>
      <% end %><br>
    </div>
    <%= recipe_form.submit 'Add Recipe', :class => "add_record_button center top_bump" %>
  <% end %>
</div>
