%h2.page_head= @recipe.name.titleize

.wrapper
  .label_block.recipe_align= "Name:"
  %b= "#{@recipe.name.titleize}"
  %br/
  .label_block.recipe_align= "Batch size:"
  = "#{@recipe.batch_size}"
  %br/
  .label_block.recipe_align= "Mash:"
  = "#{@recipe.mash_length} @ #{@recipe.mash_temp}"
  %br/
  .label_block.recipe_align= "Boil length:"
  = "#{@recipe.boil_length}"
  %br/
  %br/

  - (1..7).each do | type |
    - @recipe_ingredients.each_with_index do | ingredient, index |
      - ingr_record = Ingredient.where(id: ingredient.ingredient_id).first
      - if ingr_record.type_code == type.to_s
        = ingredient.render_line_item(type.to_s, ingr_record).html_safe
        %br/
  %br/

  .recipe_align= "Primary Fermentation Temp:      #{@recipe.primary_fermentation_temp}"

= form_for @recipe do | recipe_form |
  = button_tag "Add Tasting Notes", type: 'button', :class => "add_record_button center", id: 'reveal_notes_field'
  #notes_wrapper.hidden
    = recipe_form.label :notes, 'Brewday/Tasting Notes:'
    %br/
    = recipe_form.text_area :notes, :size => "60x10"
    %br/
    =recipe_form.submit 'Save Notes', :class => "add_record_button center top_bump"

