%h2.page_head= @recipe.name.titleize

.recipe_view_wrapper
  %b.label_block.recipe_align= "Name:"
  = "#{@recipe.name.titleize}"
  %br/
  %b.label_block.recipe_align= "Batch size:"
  = "#{@recipe.batch_size}"
  %br/
  %b.label_block.recipe_align= "Mash:"
  = "#{@recipe.mash_length} @ #{@recipe.mash_temp}"
  %br/
  %b.label_block.recipe_align= "Boil length:"
  = "#{@recipe.boil_length}"
  %br/
  %b.label_block.recipe_align= "Primary Fermentation Temp:"
  = "#{@recipe.primary_fermentation_temp}"
  %br/
  %br/

  - (1..7).each do | type |
    - @recipe_ingredients.each_with_index do | ingredient, index |
      - ingr_record = Ingredient.where(id: ingredient.ingredient_id).first
      - if ingr_record.type_code == type.to_s
        = ingredient.render_line_item(type.to_s, ingr_record).html_safe
        %br/

  - unless @recipe.notes.nil? || @recipe.notes.blank?
    %h3.recipe_align= "User Notes:"
    %b.label_block.recipe_align= "OG:"
    ="#{@recipe.og}"
    %br/
    %b.label_block.recipe_align= "FG:"
    ="#{@recipe.fg}"
    %br/
    %b.label_block.recipe_align= "Measured Efficiency:"
    ="#{@recipe.efficiency}"
    %br/
    %b.label_block.recipe_align= "Notes:"
    = "#{@recipe.notes}"

-if current_user
  = form_for @recipe do | recipe_form |
    .button_wrapper
      = button_tag 'Add/Modify Notes', type: 'button', :class => 'add_record_button', id: 'reveal_notes_field'
      #notes_wrapper.hidden
        .top_bump
          = recipe_form.label :og, 'Original Gravity:', id: 'og_label'
          = recipe_form.text_field :og, placeholder: "Ex: 1.054", size: '9x20'
          = recipe_form.label :fg, 'Final Gravity:', id: 'fg_label'
          = recipe_form.text_field :fg, placeholder: "Ex: 1.011", size: '9x20'
          = recipe_form.label :efficiency, 'Measured Efficiency:', id: 'efficiency_label'
          = recipe_form.text_field :efficiency, placeholder: "Ex: 75%", size: '9x20'
        = recipe_form.label :notes, 'Brewday/Tasting Notes', hidden: true
        = recipe_form.text_area :notes, placeholder: "Enter any tasting or brew-day notes here.", :size => "66x6", :class => 'left_no_clear'
        %br/
        =recipe_form.submit 'Save Notes', :class => "add_record_button", id: 'save_notes_button'

