<h1 class="page_head"><%= @recipe.name.capitalize %></h1>

<div class="wrapper">
  <%= "Name:          #{@recipe.name.capitalize}" %><br>
  <%= "Batch size:    #{@recipe.batch_size}" %><br>
  <%= "Mash:          #{@recipe.mash_length} @ #{@recipe.mash_temp}" %><br>
  <%= "Boil length:   #{@recipe.boil_length} mins" %><br><br>

  <% @ingredient_print_order.each do | type | %>
    <% @recipe_ingredients.each_with_index do | ingredient, index | %>
      <% ingr_record = Ingredient.where(id: ingredient.ingredient_id).first %>
      <% if ingr_record.type_code == type %>
        <%= ingredient.render_line_item type, ingr_record %><br>
      <% end %>
    <% end %>
  <% end %>
  <br>
  <%= "Primary Fermentation Temp:  #{@recipe.primary_fermentation_temp}" %>
</div>

