<h1 class="page_head">Ingredients List</h1>

<div class='wrapper left_justify'>
  <ul>
  <% @ingredients.each_with_index do | ingredient, i | %>
    <li id='ingredient_list'>
      <% if ingredient.user_id.nil? %>
        <span class="ingredient_name_block"><%= "#{i + 1}. #{ingredient.name.titleize}:" -%></span><%= " #{ingredient.description}" %>
      <% else %>
        <% if current_user.id == ingredient.user_id %>
          <span class="left">
            <span class="ingredient_name_block"><%= "#{i + 1}. #{ingredient.name.titlelize}:" -%></span><%= " #{ingredient.description}" %>
          </span>
          <%= form_for ingredient do |f| %>
            <%= button_to 'Delete', ingredients_path(ingredient), { method: :delete, :class => "delete_button" } %>
          <% end %><br>
        <% end %>
      <% end %>
    </li>
  <% end %>
  </ul>

  <% if current_user %>
    <div class="add_record_button"><%= link_to "Add Ingredient", new_ingredient_path %></div>
  <% end %>
</div>

<% unless current_user %>
 <span class="center"><%= link_to "Log in", user_session_path %> to add a Recipe</span>
<% end %>

