%h2.page_head Add Ingredient


= form_for @ingredient do |f|
  .wrapper
    #ingredient_labels_wrapper.clearfix
      = f.label :type_code, 'Category:'
      %br/
      = f.label :name, 'Ingredient Name:'
      %br/
      = f.label :description, 'Description:'
      %br/
      = f.label :yeast_code_wl, 'White Labs Code (optional):'
      %br/
      = f.label :yeast_code_wyeast, 'Wyeast Code (optional):'
      %br/
    .ingredient_fields_wrapper
      = f.select :type_code, [['Grain', 1], ['Hop', 2], ['Yeast', 3], ['Spice',4], ['Fruit',5], ['Botanical', 6], ['Adjunct', 7]]
      %br/
      = f.text_field :name, placeholder: 'Ex: My New Ingredient', size: '50x20'
      %br/
      = f.text_field :description, placeholder: 'Ex: Unicorns! Rainbows!', size: '50x20'
      %br/
      = f.text_field :yeast_code_wl, placeholder: 'Yeast only. Ex: 654', size: '20x20'
      %br/
      = f.text_field :yeast_code_wyeast, placeholder: 'Yeast only. Ex: 3724', size: '20x20'
      %br/

  = f.submit 'Add Ingredient', :class => 'add_record_button center top_bump'


